.search__btn {
   padding-left: 10px;
   padding-right: 10px;
   background-color: rgba(0,0,0,0);
   display: flex;
   justify-content: center;
   align-items: center;
}

.search-icon {
   fill: #c4c4c4; /* Колір для іконки (білий) */
   cursor: pointer;
   height: 24px;
   width: 24px;
}

.language-btn{
   font-family: 'Montserrat';
   font-size: 14px;
   line-height: 18px;
   font-weight: 800;
   background-color: rgba(0,0,0,0);
   color: #fff;

   &:first-child{
      color: #5be45b;
   }
   
   &:hover {
      color: #5be45b;
      transition: .2s ease;
   }
}