.nav {
   width: 100vw;
   background-color: #b75858;
   display: flex;
   align-items: center;
   padding-left: 10px;
}

.nav__button {
   display: flex;
   align-items: center;
   font-size: 25px;
   font-weight: 500;
   border-style: solid;
   border-color: black;
   background-color: #6ab36d;
   border-radius: 5px;
   width: 100px;
   height: 75px;
   justify-content: center;
}

.nav__list {
   position: fixed;
   z-index: 100;
   transform: translateX(100%);
   top: 0;
   right: 0;
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 250px;
   height: 100vh;
   color: black;
   background-color: antiquewhite;
   gap: 10px;
   padding: 1%;
   transition: 0.5s ease-out;
   ;
}

.list__item {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   font-size: 20px;
   border: 1px solid black;
   cursor: pointer;
}

.backdrop {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   z-index: 99;
   background-color: rgba(0, 0, 0, 0.419);
}