body {
   background-color: #131730;
   color: #fff;
   display: flex;
   flex-direction: column;
   height: 100%;
}

.body-block-scroll {
   overflow: hidden;
}

.container {
   display: flex;
   width: 930px;
   padding-left: 15px;
   padding-right: 15px;

   @media screen and (min-width: 1200px) {

   }
}