$main-green: #0d0;
$btn-green: #5be45b;
$white: #fff;
$dirty-white: #c4c4c4;
$main-deep-blue: #131730;
$main-light-blue: #212648;
$border-grey: #3c4b72;

body {
   background-color: $main-deep-blue;
   color: #fff;
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100vw;
   overflow: hidden;
}

.body-block-scroll {
   overflow: hidden;
}

.container {
   display: flex;
   width: 930px;
   padding-left: 15px;
   padding-right: 15px;
}